In [109]:
import numpy as np
import pandas as pd

In [110]:
dfs = [
    pd.read_csv('gdp.csv'),
    pd.read_csv('co2_emissions.csv'),
    pd.read_csv('rail_inf.csv'),
    pd.read_csv('pop.csv'),
    pd.read_csv('rail_transport.csv'),
    pd.read_csv('road_deaths.csv')
]

In [111]:
def format_columns(df):
    # rename Value to indicator 
    value_name = df.iloc[0, df.columns.get_loc('INDICATOR')]
    df.rename(columns={ 'Value': value_name }, inplace=True)
    
    # drop
    df.drop(columns=['INDICATOR', 'FREQUENCY', 'Flag Codes'], inplace=True)
    
    # move TIME to front
    time_col = df.pop('TIME')
    df.insert(1, 'TIME', time_col)
    return value_name

In [112]:
details_rows = []

for df in dfs:
    value_name = format_columns(df)
    subject = df.pop('SUBJECT')[0]
    measure = df.pop('MEASURE')[0]
    details_rows.append([value_name, subject, measure])

In [113]:
details = pd.DataFrame(np.array(details_rows), columns=['NAME', 'SUBJECT', 'MEASURE'])

     LOCATION  TIME         GDP
0         AUS  1995  402481.437
1         AUS  1996  423181.512
2         AUS  1997  449576.869
3         AUS  1998  476921.510
4         AUS  1999  509779.868
...       ...   ...         ...
1371      SGP  2014  461712.944
1372      SGP  2015  481393.137
1373      SGP  2016  501247.434
1374      SGP  2017  532832.748
1375      SGP  2018  571120.252

[1376 rows x 3 columns]

In [ ]:
country_codes = pd.read_csv()